appnope
asttokens
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
executing
filelock
fonttools
fsspec
huggingface-hub
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
seaborn
six
stack-data
sympy
threadpoolctl
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth
